@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}
.main {
  background-image: url("assets/img/bg.jpg");
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: max(2500px, 100vw);
  background-position: center center;
}

.main .box {
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  display: flex;
  max-width: 75vw;
  margin: auto;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  top: 10px;
}

nav img {
  color: red;
  width: 144px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: bolder;
  gap: 15px 0;
  padding: 5px;
  position: relative;
  font-family: "Martel Sans", sans-serif;
  /* overflow: none; */
}

.hero span:first-child {
  font-size: 50px;
  gap: 0px 0;
  font-weight: 900;
  text-align: center;
}

.hero span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.hero span:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.separation {
  width: 100%;
  height: 0.5rem;
  position: absolute;
  bottom: -0.5rem;
  z-index: 20;
  background-color: rgb(35, 35, 35);
}

.sep2 {
  width: 100%;
  height: 0.5rem;
  z-index: 20;
  position: relative;
  bottom: -0.5rem;
  background-color: rgb(35, 35, 35);
}

.btn {
  padding: 4px 16px;
  background-color: rgba(23, 32, 32, 0.4);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(79, 78, 78);
  cursor: pointer;
  align-items: center;
  font-size: 15px;
  margin-right: 15px;
}

.btn-red-sm {
  background-color: red;
  color: white;
  padding: 4px 16px 4px 16px;
  height: 32px;
  min-height: 32px;
  border: 2px solid rgb(255, 0, 0);
}

.btn-red {
  background-color: red;
  padding: 11px 24px;
  min-height: 56px;
  margin: 0 0 0 8px;
  height: 56px;
  width: 203px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  border: 2px solid rgb(255, 0, 0);
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.e-box /* .main input */ {
  height: 27px;
  color: white;
  width: 323px;
  font-weight: 300;
  border: 1px solid rgba(223, 232, 232, 0.7);
  border-radius: 5px;
  padding: 11px 24px;
  background-color: rgba(23, 32, 32, 0.4);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  color: white;
  height: 500px;
  align-items: center;
  position: relative;
}

.secimg {
  position: relative;
  gap: 10px;
}
.secimg img {
  position: relative;
  width: 540px;
  z-index: 10;
}

.secimg video {
  position: absolute;
  top: 75px;
  left: 65px;
  right: 30px;
  width: 490px;
}



section.first > div {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.first > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}
.first > div :nth-child(2) {
  font-size: 21px;
  font-weight: 400;
}

#tvideo {
  width: 59%;
  right: 180px;
  /* position: relative; */
  top: 65px;
  left: 120px;
}

.faq {
  background-color: black;
  color: white;
  padding: 32px 0 50px 0;
  text-align: center;
}

.faq h1 {
  margin: 25px 0px 25px 0px;
  font-weight: 900;
  font-size: 48px;
}
.faqbox:hover {
  background-color: rgb(69, 65, 65);
}
.faqbox {
  transition: all 1s ease-out;
  display: flex;
  background-color: rgba(35, 36, 38, 0.9);
  padding: 25px;
  margin: 12px auto;
  font-size: 24px;
  width: 72vw;
  justify-content: space-between;
}

.faqbox svg {
  filter: invert(1);
}

footer {
  height: 53vh;
  max-width: 70vw;
  color: white;
  gap: 10px;
  margin: 30px auto;
}
footer span {
  display: flex;
  padding: 25px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  margin: 0px 0px 25px 0px;
}

footer .que {
  padding: 34px 0;
}

.footer a {
  font-family: sans-serif;
  color: white;
  font-size: 14px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

@media screen and (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
